<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
</ul>

<div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
            	<div class="col-md-4">
	            	<div class="panel panel-default">
		                <div class="panel-heading">
		                    <h3 class="panel-title">Monitoring Penggunaan Daya</h3>                             
		                </div>                            
		                <div class="panel-body">
		                	<a href="#/PenggunaanDaya" class="friend">
                                <img src="assets/images/kontak.jpg" />
                            </a> 
		                </div>
		            </div>
		        </div>

		        <div class="col-md-4">
	            	<div class="panel panel-default">
		                <div class="panel-heading">
		                    <h3 class="panel-title">Monitoring Daya Panel Surya</h3>                             
		                </div>                            
		                <div class="panel-body">
		                	<a href="#/PanelSurya" class="friend">
                                <img src="assets/images/solar.jpg" />
                            </a>  
		                </div>
		            </div>
		        </div>

		        <div class="col-md-4">
	            	<div class="panel panel-default">
		                <div class="panel-heading">
		                    <h3 class="panel-title">Monitoring Keadaan Lingkungan Rumah</h3>                             
		                </div>                            
		                <div class="panel-body">
		                	<a href="#/MonitoringLingkungan" class="friend">
                                <img src="assets/images/suhu.png" />
                            </a>  
		                </div>
		            </div>
		        </div>

		        <div class="col-md-3">
	            	<div class="panel panel-default">
		                <div class="panel-heading">
		                    <h3 class="panel-title">Kontrol LED</h3>                             
		                </div>                            
		                <div class="panel-body">
		                	<a href="#/LED" class="friend">
                                <img src="assets/images/led.png" />
                            </a>  
		                </div>
		            </div>
		        </div>

		        <div class="col-md-3">
	            	<div class="panel panel-default">
		                <div class="panel-heading">
		                    <h3 class="panel-title">Kontrol Motor DC</h3>                             
		                </div>                            
		                <div class="panel-body">
		                	<a href="#/MotorDC" class="friend">
                                <img src="assets/images/motordc.png" />
                            </a>   
		                </div>
		            </div>
		        </div>

		        <div class="col-md-3">
	            	<div class="panel panel-default">
		                <div class="panel-heading">
		                    <h3 class="panel-title">Kontrol Servo</h3>                             
		                </div>                            
		                <div class="panel-body">
		                	<a href="#/Servo" class="friend">
                                <img src="assets/images/servo.jpg" />
                            </a>  
		                </div>
		            </div>
		        </div>

		        <div class="col-md-3">
	            	<div class="panel panel-default">
		                <div class="panel-heading">
		                    <h3 class="panel-title">Kontrol Kamera</h3>                             
		                </div>                            
		                <div class="panel-body">
		                	<a href="#/Kamera" class="friend">
                                <img src="assets/images/kamera.png" />
                            </a>  
		                </div>
		            </div>
		        </div>

            </div>
         </div>
</div>