<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
</ul>
<div class="page-title">                    
    <h2><span class="fa fa-home"></span> Home</h2>
</div>

<div class="page-content-wrap">
        <div class="row">
            <div class="col-md-12">
            	<div class="panel panel-default">
	                <div class="panel-heading">
	                    <h3 class="panel-title">Sistem Kontrol Internet of Things</h3>                             
	                </div>                            
	                <div class="panel-body">

                        <div class="col-md-3 col-xs-3">
                            <a href="#/LED" class="friend">
                                <img src="assets/images/led.png" height="350" />
                                <span>Kontrol LED</span>
                            </a>                                            
                        </div>
                        <div class="col-md-3 col-xs-3">                                            
                            <a href="#/MotorDC" class="friend">
                                <img src="assets/images/motordc.png" height="350" />
                                <span>Kontrol Motor DC</span>
                            </a>                                            
                        </div>
                        <div class="col-md-3 col-xs-3">                                            
                            <a href="#/Servo" class="friend">
                                <img src="assets/images/servo.jpg" height="350" />
                                <span>Kontrol Servo</span>
                            </a>                                            
                        </div>
                        <div class="col-md-3 col-xs-3">                                            
                            <a href="#/Kamera" class="friend">
                                <img src="assets/images/kamera.png" height="350" />
                                <span>Kontrol Kamera</span>
                            </a>                                            
                        </div>
	                </div>

                </div>
            </div>
         </div>
</div>