<div ng-controller="KameraController">
	<ul class="breadcrumb">
	    <li><a href="#">Kamera</a></li>
	</ul>
	<div class="page-title">                    
	    <h2><span class="fa fa-home"></span> Kamera</h2>
	</div>

	<div class="page-content-wrap">
	        <div class="row">
	            <div class="col-md-12">
		            <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Webcam</h3>
                            </div>
                            <div class="panel-body" align="center">
            					<webcam channel="setting"></webcam>
            				</div>
            			</div>
	            	</div>

	            	<div class="col-md-6">
	            		<div class="panel panel-default">
		            		<div class="panel-heading">
		            			<h3 class="panel-title">Raspi Cam</h3>
		            		</div>
		            		<div class="panel-body" align="center">
		            			<div ng-if="!raspiStatus">
		            				<div class="alert alert-danger" role="alert">
			                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			                            <strong>Warning!</strong> Perangkat Raspberry Pi sedang tidak diaktifkan.
			                        </div>
		            			</div>
		            			<div align="center">
		            				<button class="btn btn-info" disabled="">Putar Kiri</button>
		            				<button class="btn btn-info" disabled="">Putar Kanan</button>
		            			</div>
		            		</div>
		            	</div>
	            	</div>
	            </div>
	         </div>
	</div>
</div>