<div ng-controller="PanelSuryaController">
	<ul class="breadcrumb">
	    <li><a href="#">Panel Surya</a></li>
	</ul>
	<div class="page-title">                    
	    <h2><span class="fa fa-home"></span> Monitoring Panel Surya</h2>
	</div>

	<div class="page-content-wrap">
        <div class="row">
            <div class="col-md-6" id="bubble-chart">
	          <div class="panel panel-default">
	            <div class="panel-heading">
	            	<h3 class="panel-title"> Arus (mA)</h3>
	            </div>
	            <div class="panel-body">
	              <canvas id="hero-bar" class="chart chart-line" chart-data="dataAmpere" chart-options="options" chart-labels="labels"></canvas>
	            </div>
	          </div>                       
	              <h2>Arus: {{showA}} mA</h2>
	        </div>

	        <div class="col-md-6" id="real">
	        	<div class="panel panel-default">
	        		<div class="panel-heading">
	        			<h3 class="panel-title"> Tegangan (mV)</h3>
	        		</div>
	        		<div class="panel-body">
	        			<canvas id="hero-bar" class="chart chart-line" chart-data="dataVolt" chart-options="options" chart-labels="labels"></canvas>
	        		</div>
	        	</div>
	        		<h2>Tegangan: {{showV}} mV</h2>
	        </div>
		</div>
	</div>
</div>