<div ng-controller="PanelSuryaController">
	<ul class="breadcrumb">
	    <li><a href="#">Panel Surya</a></li>
	</ul>
	<div class="page-title">                    
	    <h2><span class="fa fa-home"></span> Monitoring Panel Surya</h2>
	</div>

	<div class="page-content-wrap">
        <div class="row">
            <div class="col-md-6" id="bubble-chart">
	          <div class="panel panel-default">
	            <div class="panel-heading">Daya</div>
	            <div class="panel-body">
	              <canvas id="bubble" class="chart chart-bubble" chart-data="data" chart-options="options"></canvas>
	            </div>
	          </div>
	        </div>
		</div>
	</div>
</div>