<div ng-controller="DayaController">
	<ul class="breadcrumb">
	    <li><a href="#">Pemakaian Daya</a></li>
	</ul>
	<div class="page-title">                    
	    <h2><span class="fa fa-home"></span> Pemakaian Daya</h2>
	</div>

	<div class="page-content-wrap">
	        <div class="row">
	            <div class="col-md-12 col-lg-8">
	            	<div class="panel panel-default">
	            		<div class="panel-body">
	            		<canvas class="chart chart-line" chart-data="data" chart-options="options" chart-labels="labels" chart-colors="colors"></canvas>
	            		</div>
	            	</div>
	         </div>
	</div>
</div>